<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WelCome to e-Com</title>
    <style>
      body {
        background-color: #1d1d1d;
        margin: 0;
        padding: 0;
      }

      .wrapper {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
      }

      h1 {
        max-width: 75%;
        font-size: 100px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: #540032;
      }

      .title {
        background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1 class="title" id="username">
        Welcome To Our e-Commerce Documentation! <%= username %>
        
      </h1>
      <button >Explore<img height="20" src="https://e7.pngegg.com/pngimages/748/748/png-clipart-arrow-computer-icons-font-awesome-symbol-double-11-presale-angle-hand.png" alt=""></button>
      <p class="title" id="date">Today is:<%= date %></p>

      <br>
      
    </div>
    <div>
      <button>Explore Swagger: <a href="http://localhost:8081/api-docs"><%= Swagger %></a></button>
    </div>

    <div>
      <section class="d-flex">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <button>a</button>
          </div>
          <div class="col-lg-6">
            <button>a</button>
          </div>
        </div>
      </section>
      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script>
      
      var tl = gsap.timeline({ repeat: -1 });
      tl.to("h1", 30, { backgroundPosition: "-960px 0" });

      
    </script>
  </body>
</html>
