body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader-container{
  background: rgba(0, 0, 0, 0.84);
  background-image: url("https://i.gifer.com/ZZ5H.gif");
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
